{{ template "base" . }}

{{ define "title" }} RPS Web - Acerca de {{ end }}

{{ define "content" }} 

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, urna eu tincidunt consectetur, nisi nisl aliquam nunc, eget aliquam massa erat at dui. Etiam ac eros nec urna dictum placerat.</p>
                <p>Phasellus euismod, sapien nec laoreet cursus, enim erat dictum erat, nec facilisis erat urna a velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <p>Morbi vitae velit nec sem facilisis cursus. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc.</p>

                <ul class="py-3">
                    <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
                    <li><a href="https://www.youtube.com" target="_blank">YouTube</a></li>
                    <li><a href="https://www.github.com" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}